.a {
    background:url(https://www.svgrepo.com/show/80156/down-arrow.svg) no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}


div {
    position: relative;
}

input {
    width: 100%;
}